n8n/support-request-intake-workflow-v1.json
{
  "name": "Support Request Intake Workflow v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5adb6453-5713-4e51-bbf7-a1cccb8e1e46",
      "name": "Webhook",
      "webhookId": "7601660f-89e5-449d-87b6-9e464e6f8170"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "app",
          "mode": "list",
          "cachedResultName": "app"
        },
        "table": {
          "__rl": true,
          "value": "support_requests",
          "mode": "list",
          "cachedResultName": "support_requests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_name": "={{$json.body.customerName}}",
            "customer_email": "={{$json.body.email}}",
            "message": "={{$json.body.message}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "extracted_data",
              "displayName": "extracted_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_reply",
              "displayName": "suggested_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approval_status",
              "displayName": "approval_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "b9284752-c0c3-478a-a6e2-90e6175b4ca9",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "E1wA7DwtUNdE6OwO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"received\",\n  \"approvalStatus\": \"PENDING_APPROVAL\",\n  \"message\": \"Request was saved successfully.\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        293.90625,
        0
      ],
      "id": "cf7b062e-f9ee-45ed-8d98-f8b020b4c5e3",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ed9b7de2-277e-4684-b095-e846c631c853",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4cf081b9019b3ef5ee44def26d8706f6f8a10805c34ef54d2399312b51eac10d"
  },
  "id": "Bv7g6svSq1CDRshc",
  "tags": []
}